extends views/layout.pug

append styles
  link(href='styles/sections/home_page.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/call_opening.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/tone.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/language.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/fact_finding.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/communication.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/call_handling.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/account_verification.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/product_knowledge.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/case_notations.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/responsibility_and_accountability.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/call_closing.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/auto_fails.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/examples.css', rel='stylesheet', type='text/css')
  link(href='styles/sections/appeal_process.css', rel='stylesheet', type='text/css')

block content

  .pane.sections-list

    #homepage_sec.app-section
    #call_open_sec.app-section
    #tone_sec.app-section
    #language_sec.app-section
    #fact_finding_sec.app-section
    #communication_sec.app-section
    #call_handling_sec.app-section
    #acct_verification_sec.app-section
    #prod_knowledge_sec.app-section
    #case_notations_sec.app-section
    #resp_and_account_sec.app-section
    #call_closing_sec.app-section
    #auto_fails_sec.app-section
    #examples_sec.app-section
    #appeal_proc_sec.app-section
