extends views/layout.pug

block content

  .pane.sections-list

    #homepage_sec.app-section
    #call_open_sec.app-section
    #tone_sec.app-section
    #language_sec.app-section
    #fact_finding_sec.app-section
    #communication_sec.app-section
    #call_handling_sec.app-section
    #acct_verification_sec.app-section
    #prod_knowledge_sec.app-section
    #case_notations_sec.app-section
    #resp_and_account_sec.app-section
    #call_closing_sec.app-section
    #auto_fails_sec.app-section
    #examples_sec.app-section
    #appeal_proc_sec.app-section
