mixin navbar_builder(title)
  div.pane.pane-sm.sidebar
    div.logo

    div.sidebar-menu
      nav.nav-group
        h1.nav-group-title.text-center Menu

        div.sidebar-menu-items

          button#homepage.nav-group-item.btn.btn-large.btn-default.icon.icon-home.main-btn
            = ' Home'

          button#call_open.nav-group-item.btn.btn-large.btn-default.icon.icon-phone.main-btn
            = ' Call Opening'

          button#tone.nav-group-item.btn.btn-large.btn-default.icon.icon-heart.main-btn
            = ' Tone'

          button#language.nav-group-item.btn.btn-large.btn-default.icon.icon-feather.main-btn
            = ' Language'

          button#fact_finding.nav-group-item.btn.btn-large.btn-default.icon.icon-vcard.main-btn
            = ' Fact Finding'

          button#communication.nav-group-item.btn.btn-large.btn-default.icon.icon-chat.main-btn
            = ' Communication'

          button#call_handling.nav-group-item.btn.btn-large.btn-default.icon.icon-address.main-btn
            = ' Call Handling'

          button#acct_verification.nav-group-item.btn.btn-large.btn-default.icon.icon-folder.main-btn
            = ' Account Verification'

          button#prod_knowledge.nav-group-item.btn.btn-large.btn-default.icon.icon-lamp.main-btn
            = ' Product Knowledge'

          button#case_notations.nav-group-item.btn.btn-large.btn-default.icon.icon-pencil.main-btn
            = ' Case Notations'

          button#resp_and_account.nav-group-item.btn.btn-large.btn-default.icon.icon-star.main-btn
            = ' Responsibility & Accountability'

          button#call_closing.nav-group-item.btn.btn-large.btn-default.icon.icon-moon.main-btn
            = ' Call Closing'

          button#auto_fails.nav-group-item.btn.btn-large.btn-default.icon.icon-block.main-btn
            = ' Auto Fails'

          button#examples.nav-group-item.btn.btn-large.btn-default.icon.icon-flow-tree.main-btn
            = ' Examples'

          button#appeal_proc.nav-group-item.btn.btn-large.btn-default.icon.icon-megaphone.main-btn
            = ' Appeal Process'
