doctype html
html(lang="en")
  head
    block head
      block title
        title Default title
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')

      block styles
        link(href='styles/photonkit/css/photon.min.css', rel='stylesheet', type='text/css')
        link(href='styles/global.css', rel='stylesheet', type='text/css')
        link(href='styles/sidebar.css', rel='stylesheet', type='text/css')
        link(href='styles/first_page.css', rel='stylesheet', type='text/css')

      script(src='app.js')

  body
    .window
      header.toolbar.toolbar-header
        h1.title Heather's QPA Handbook

      .window-content
        .pane-group

          .pane.pane-sm.sidebar
            nav.nav-group
              h5.nav-group-title Sections
              span.nav-group-item
                span.icon.icon-home
                | Home
              span.nav-group-item
                span.icon.icon-home
                | Call Opening
              span.nav-group-item
                span.icon.icon-home
                | Tone
              span.nav-group-item
                span.icon.icon-home
                | Language
              span.nav-group-item
                span.icon.icon-home
                | Fact Finding
              span.nav-group-item
                span.icon.icon-home
                | Communication
              span.nav-group-item
                span.icon.icon-home
                | Call Handling
              span.nav-group-item
                span.icon.icon-home
                | Account Verification
              span.nav-group-item
                span.icon.icon-home
                | Product Knowledge
              span.nav-group-item
                span.icon.icon-home
                | Case Notations
              span.nav-group-item
                span.icon.icon-home
                | Responsibility and Accountability
              span.nav-group-item
                span.icon.icon-home
                | Call Closing
              span.nav-group-item
                span.icon.icon-home
                | Auto Fails
              span.nav-group-item
                span.icon.icon-home
                | Examples
              span.nav-group-item
                span.icon.icon-home
                | Appeal Process


          block content

