include mixins/navbar-mixin.pug

doctype html
html(lang="en")
  head
    block head
      block title
        title Heather's QPA Handbook
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')

      block styles
        link(href='styles/photonkit/css/photon.min.css', rel='stylesheet', type='text/css')
        link(href='styles/global.css', rel='stylesheet', type='text/css')
        link(href='styles/sidebar.css', rel='stylesheet', type='text/css')
        link(href='styles/sections.css', rel='stylesheet', type='text/css')

      script(src='app.js')

  body
    .window

      .window-content
        .pane-group

          +navbar_builder('Sections')

          block content

    block scripts
      script(type='text/javascript', src='lib/nav.js')
